@import "tailwindcss";
[x-cloak] { display: none !important; }
@theme {
    --color-backgrnd: #312836;
    --color-section-bg: #3E3444;
    --color-navbtn: #D75FCF;

  }

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}